.images {
    margin-top: calc(100vh - 96px);
    transition: padding-top 500ms ease;

    &--transition {
        margin-top: 0;
        padding-top: 50%;
    }

    &__row:nth-of-type(2n + 1) {
        background: #eee;
    }

    &__download {
        text-align: right;
    }

    &__stats {
        position: absolute;
        top: 20px;
        width: 100%;

        transition: transform 500ms ease;
        transform: scaleY(0);
        transform-origin: top;

        &--transition {
            transform: scaleY(1);
        }
    }

    &__confusion {
        image-rendering: pixelated;
    }
}
